- if user_signed_in?
  - if entry.like_user(current_user.id)
    .item-button-container__left__dislike
      =link_to entry_like_path(current_user, entry, like), method: "DELETE", remote: true do
        %i.fas.fa-heart
        %span いいね！
        %span 
          = product.likes_count
  - else
    .item-button-container__left__like
      =link_to entry_likes_path(current_user, entry), method: "POST", remote: true do
        %i.fas.fa-heart
        %span いいね！
        %span
          = entry.likes_count
-else
  .item-button-container__left__like
    %i.fas.fa-heart
      %span いいね！
      %span 
        = entry.like_count