.all--edit--show{
  height: 100%;
  width: 100%;
  background-image:url("https://www.instagram.com/p/BlJv7aWhRwU/media/?size=l");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

