// .contents{
//   display: flex;
//   justify-content: space-between;
//   .muscle_ranking__left{
//     height: 1000px;
//     width: 400px;
//     background-image:url("https://ns328286.ip-37-187-113.eu/ew/wallpapers/800x480/02475_800x480.jpg");
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
//     padding-top: 100px;
//     padding-bottom: 100px;
//     position: fixed;
//     filter: opacity(80%);
//   }
//   .muscle_ranking__right{
//     height: 1000px;
//     width: 400px;
//     background-image:url("https://ns328286.ip-37-187-113.eu/ew/wallpapers/800x480/02475_800x480.jpg");
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
//     padding-top: 100px;
//     padding-bottom: 100px;
//     position: fixed;
//     filter: opacity(80%);
//   }
// }

.muscle_ranking{
  width: 700px;
  margin-left: 470px;
  
  .maincontents__box__entry__ranking{
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    .king{
      position: absolute;
      left: 120px;
      width: 100px;
      top: -10px;

    }
    .maincontents__box__entry__ranking1{
      font-size: 30px;
      position: absolute;
      left: 60px;
      top: 40px;
    }
      
    .maincontents__box__entry__ranking2{
      font-size: 50px;
      position: absolute;
      left: 155px;
    }
      
    .maincontents__box__entry__ranking3{
      font-size: 30px;
      position: absolute;
      left: 250px;
      top: 40px;
    }
  }
  .maincontents__box__entry{
    text-decoration: none;
    display: block;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    margin:  80px 40px;
    display: inline-block;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border: solid 1px lightgray;
    border-radius: 8px 8px 8px 8px;
    text-decoration: none;
    
    
    &__title{
      display: flex;
      position: relative;
      border-bottom: solid 1px lightgray;
      text-decoration: none;
      &__name{
        font-family: serif;
        line-height: 50px;
        font-size: 20px;
        width: 100%;
        height: 50px;
        color: black;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
      }
        //題名
      &__user{
        display: flex;
        position: relative;
        position: absolute;
        right: 10px;
        top: 6px;
        text-decoration: none;
        // .a{
        // position: absolute;
        // right: 10px;
        // top: 20px;
        // }
        &__image{
          
          .nill-image{
            width: 30px;
            border-radius: 100px;
          }
        }
          //題名
        &__name{
          padding-left: 4px;
          color: green;
          text-decoration: none;
        }
        
      }
          //user
        //user
    }
    &__category{
      height: 50px;
      width: 100%;
      border-bottom: solid 1px lightgray;
      text-decoration: none;

      &__center{
        height: 50px;
        line-height: 60px;
        display: flex;


        &__name{
          font-family: fantasy;
          text-decoration: none;
          color: orange;
        }
          //カテゴリ：
        &__type{
          line-height: 60px;
          font-family: fantasy;
          color: green;
          text-decoration: none;
          display: block;
          cursor: pointer;
        }
          //ラグビー
      }
    }
    .maincontents__box__entry__img{
      .image{
        height: 297px;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        text-decoration: none;
        border-radius: 0px 0px 8px 8px;

      }
    }
  }
}