
.maincontents__page{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  .user-edit__a{
    position: absolute;
    top: -69px;
    right: -90px;
    font-size: 20px;
    border: solid 1px orange;
    text-decoration: none;
    padding: 0 5px;
    background-color: orange;
    color: white;
    border-radius: 10px 10px 10px 10px;
  }
  .page__name{
    position: absolute;
    left: 300px;
    font-size: 45px;

  }
    // %p
    //   = @name
    //   さんのマイページ
  .page__image{
    .image{
      height: 200px;
      width: 300px;
      position: absolute;
      left: 300px;
      top: 110px;
    }
  }
  .page__muscle{
    position: absolute;
    left: 620px;
    top: 60px;
    font-size: 20px;
  }
    // %p
    //   好きな筋肉:
    //   = @muscle
  .page__muscle-training{
    position: absolute;
    left: 620px;
    top: 90px;
    font-size: 20px;
  }
    // %p
    //   好きな筋トレ:
    //   = @muscle_training
  .page__introduce{
    position: absolute;
    left: 620px;
    top: 120px;
    font-size: 20px;
    &__name{

    }
    &__text{
      width: 400px;
      height: 200px;
      border: solid 1px black;

    }
  }
  .page__a{
    width: 100%;
    position: absolute;
    left: 220px;
    top: 380px;
    font-size: 40px;
   

  }
    // = @name
    // さんの投稿一覧
  .page__b{
    position: absolute;
    left: 100px;
    top: 400px;
    .maincontents__page__entry{
      
      text-decoration: none;
      cursor: pointer;
      filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
      margin:  80px 40px;
      display: inline-block;
      height: 400px;
      width: 400px;
      background-color: #fff;
      border: solid 1px lightgray;
      border-radius: 8px 8px 8px 8px;
      text-decoration: none;

      &__title{
        position: relative;
        border-bottom: solid 1px lightgray;
        text-decoration: none;
        &__name{
          font-family: serif;
          line-height: 50px;
          font-size: 20px;
          width: 100%;
          height: 50px;
          color: black;
          margin: 0 auto;
          text-align: center;
          text-decoration: none;
        }
          //題名
        &__user{
          position: absolute;
          right: 10px;
          top: 30px;
          color: green;
          text-decoration: none;

        }
          //user
      }
      &__category{
        height: 50px;
        width: 100%;
        border-bottom: solid 1px lightgray;
        text-decoration: none;

        &__center{
          height: 50px;
          line-height: 60px;
          display: flex;


          &__name{
            font-family: fantasy;
            text-decoration: none;
            color: orange;
          }
            //カテゴリ：
          &__type{
            line-height: 60px;
            font-family: fantasy;
            color: green;
            text-decoration: none;
            display: block;
            cursor: pointer;
          }
            //ラグビー
        }
      }
      .maincontents__page__entry__img{
        .image{
          height: 297px;
          width: 100%;
          background-attachment: fixed;
          background-position: center;
          text-decoration: none;
          border-radius: 0px 0px 8px 8px;

        }
      }
      //= image_tag nakigoe_1-740x429.jpg, size: "100x100"
    }
  }
}